<head>
  <div style="position: absolute; left: 8px; top: 8px; text-align: left">
    <button onclick="location.href='/account'" value="button"> <b>Home</b> </button> <br><br>
  </div>

  <div style="position: absolute; right: 8px; top: 8px; text-align: right">
    <form name="logout" method="post" action="/logout">
      <input name="submit" type="submit" value="Log Out">
    </form>
  </div><br>
</head>
<body style="background-color:#e6e6e6;">


  <h1>Update Employee</h1>
  <form action="/employee/<%= @employee.id %>" method="post">
    <fieldset>
      <input type="hidden" name="_method" value="patch">

        <label for="name">Name:</label>
        <input type="text" name="employee[name]" id="name" value="<%=@employee.name%>"><br><br>

        <label for="title">Title:</label>
        <input type="text" name="employee[title]" id="title" value="<%=@employee.title%>"><br><br>

        <label for="department">Department:</label>
        <input type="text" name="employee[department]" id="department" value="<%=@employee.department%>"><br><br>

        <label for="address">Address:</label>
        <input type="text" name="employee[address]" id="address" value="<%=@employee.address%>"><br><br>

        <label for="phone_number">Contact Number:</label>
        <input type="text" name="employee[phone_number]" id="phone_number" value="<%=@employee.phone_number%>"><br><br>

        <label for="remarks">Remarks:</label>
        <input type="text" name="employee[remarks]" id="remarks" value="<%=@employee.remarks%>"><br><br>

        <label for="salary">Salary:</label>
        <input type="text" name="employee[salary]" id="salary" value="<%=@employee.salary%>">

      <input type="submit" />
    </fieldset>

  </form>

</body>
